.DS_Store
node_modules
dist
.env
.env.*
*.local
python/marcelle-logs
python/**/__pycache__
python/.python-version
python/**/*.pkl
package-lock.json
assets/video/instructions_video.mov
assets/video/*.mp4
assets/video/*.mov
assets/tiles/*
TODO.md
backend/data/instances-test-set-*.db
backend/data/user-interaction-*.db
backend/data/pid.db
backend/data/debug.db